<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>	
	<logger name="de.muenchen.vaadin" level="INFO"/>
	<logger name="org.springframework.security" level="INFO"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </logger>

</configuration>
