<div style="text-alignment:center">
    <h2 *ngIf="user.surname"> Hallo {{user.surname}} {{user.forname}}  </h2>
    <h2 *ngIf="!user.surname"> Hallo Benutzer {{user.username}}</h2>
    <div *ngIf="user.username">Benutzername: {{user.username}}</div>
    <div *ngIf="user.email">E-Mail: {{user.email}}</div>
    <div *ngIf="user.birthdate">Geburtstag: {{user.birthdate}}</div>
    Berechtigungen:<br/>
    <li *ngFor="#authority of user.authorities">
        {{$index}} {{authority}}
    </li>
</div>
