<div style="text-alignment:center">
    {{diagnostic}}
    <form [ngFormModel]="buergerForm" (ngSubmit)="addBuerger()">
        <input ngControl="vorname" type="text" class="form-control" required [(ngModel)]="buergerForm.vorname" placeholder="vorname">
        <input ngControl="nachname" type="text" class="form-control" required [(ngModel)]="buergerForm.nachname" >
        <input ngControl="geburtsdatum" type="text" class="form-control" required [(ngModel)]="buergerForm.geburtsdatum" >
        <input ngControl="augenfarbe" type="text" class="form-control" required [(ngModel)]="buergerForm.augenfarbe" >
        <input ngControl="alive" type="checkbox" class="form-control" required [(ngModel)]="buergerForm.alive" >
        <input ngControl="eigenschaften" type="text" class="form-control" [(ngModel)]="buergerForm.eigenschaften">
        <button type="submit">Add</button>
    </form>
    <div id="search-form">
        <form (ngSubmit)="search()">
            <input [(ngModel)]="newSearchTerm" placeholder="hans" />
            <button>Search</button>
        </form>
    </div>
    <div *ngIf="!buerger">Keine Buerger vorhanden!</div>
    <li *ngFor="#b of buerger">
         <a href="{{b._links.self.href}}">link</a>, {{b.vorname}},  {{b.nachname}},  {{b.geburtsdatum}} 
    </li>
</div>
